%head
  %meta{:charset => "utf-8"}/
  %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{:content => I18n.t(:description), :name => "description"}/
  %title Panter

  %link{:href => "http://fonts.googleapis.com/css?family=Merriweather:400,700,300", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600", :rel => "stylesheet", :type => "text/css"}/

  %link{ rel: 'apple-touch-icon', sizes: '152x152', href: 'apple-touch-icon-152x152-precomposed.png' }
  %link{ rel: 'apple-touch-icon', sizes: '144x144', href: 'apple-touch-icon-144x144-precomposed.png' }
  %link{ rel: 'apple-touch-icon', sizes: '114x114', href: 'apple-touch-icon-114x114-precomposed.png' }
  %link{ rel: 'apple-touch-icon', sizes: '72x72', href: 'apple-touch-icon-72x72-precomposed.png' }
  %link{ rel: 'apple-touch-icon', href: 'apple-touch-icon-precomposed.png' }
  %link{ rel: 'shortcut icon', href: 'favicon.png' }
  %link{ rel: 'icon', type: 'image/ico', href: 'favicon.ico' }

  %link{:href => "favicon.ico", :rel => "shortcut icon"}/
  %link{:href => "/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon"}/

  = stylesheet_link_tag 'application'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40536002-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

     // Piwik
     var _paq = _paq || [];
     _paq.push(['trackPageView']);
     _paq.push(['enableLinkTracking']);
     (function() {
       var u="//piwik-panter.rhcloud.com/";
       _paq.push(['setTrackerUrl', u+'piwik.php']);
       _paq.push(['setSiteId', 3]);
       var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
       g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
     })();
