---
layout: portfolio
head_title: 'Wink'
---

#parallax-1-container
  %header.content
    = image_tag 'bosw_wink/wink_logo.png'
    %h1 Die Nachbarschafts-Community-Plattform der Allgemeinen Baugenossenschaft Zürich

  .parallax-window.parallax-1
    .parallax-background{ data: { top_bottom: "background-position: 50% -400px;", center: "background-position: 50% 0px;", anchor_target: '#parallax-1-container' } }

  .content
    %p
      In Zürich und Umgebung baut die Allgemeine Baugenossenschaft Zürich (ABZ)
      Siedlungen für ein gemeinschaftsorientiertes Wohnen und Zusammenleben.  Die
      ABZ bietet den Mitgliedern faire und günstige Mieten, Mitsprache- und
      Mitwirkungsmöglichkeiten, ein angenehmes Wohnumfeld und eine gute
      Nachbarschaft.

    = image_tag 'bosw_wink/showcase_image_2.jpg'

.content-full.color-1
  .content
    %h2 Briefing
    %h3 Innovation, die der Gemeinschaft dient

.parallax-window.parallax-2#parallax-2-container
  .parallax-background{ data: { top_bottom: "background-position: 50% -200px;", center: "background-position: 50% 0px;" } }

  .parallax-footer-background &nbsp;
  .parallax-footer-image
    = image_tag 'bosw_wink/showcase_image_4.png'

.content-full.color-1
  .content
    %p
      Schon länger und aus verschiedenen Siedlungen wurde Bedarf für eine
      digitale Vernetzungsplattform zur Vereinfachung der Kommunikation und des
      Austauschs geäussert. Mit der Lancierung von WINK reagiert die
      Geschäftsstelle auf diese Bedürfnisse und macht die Aktivitäten und
      Engagements in den Siedlungen sichtbar und zugänglich. Die vielseitigen
      Begegnungsmöglichkeiten online bereichern das alltägliche
      Nachbarschaftsleben auch siedlungsübergreifend. WINK wird laufend den
      Nutzerbedürfnissen entsprechend weiterentwickelt.

.content.js-fade-in
  %h2 Schwarzes Brett
  %h3 Mehr über die Aktivitäten in den Siedlungen erfahren
  %p
    Bla bla bla. Schon länger und aus verschiedenen Siedlungen wurde Bedarf für eine
    digitale Vernetzungsplattform zur Vereinfachung der Kommunikation und des
    Austauschs geäussert. Mit der Lancierung von WINK reagiert die
    Geschäftsstelle auf diese Bedürfnisse und macht die Aktivitäten und
    Engagements in den Siedlungen sichtbar und zugänglich. Die vielseitigen
    Begegnungsmöglichkeiten online bereichern das alltägliche
    Nachbarschaftsleben auch siedlungsübergreifend. WINK wird laufend den
    Nutzerbedürfnissen entsprechend weiterentwickelt.

.content-full.color-2.js-fade-in
  .content
    %h2 Schwarzes Brett
    %h3 Mehr über die Aktivitäten in den Siedlungen erfahren
    %p
      Bla bla bla. Schon länger und aus verschiedenen Siedlungen wurde Bedarf für eine
      digitale Vernetzungsplattform zur Vereinfachung der Kommunikation und des
      Austauschs geäussert. Mit der Lancierung von WINK reagiert die
      Geschäftsstelle auf diese Bedürfnisse und macht die Aktivitäten und
      Engagements in den Siedlungen sichtbar und zugänglich. Die vielseitigen
      Begegnungsmöglichkeiten online bereichern das alltägliche
      Nachbarschaftsleben auch siedlungsübergreifend. WINK wird laufend den
      Nutzerbedürfnissen entsprechend weiterentwickelt.

.content
  %a.button Zur Wink Webseite
